.x-grid3-cell-inner, .x-grid3-hd-inner {
    padding: 13px 18px 13px 5px !important;
    height: 16px;
}

.icon-babel-actioncolumn-img {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
