@use "modx3";

$red: #be0000;

.x-buttonmenu-babel-item-icon {
  text-align: center;
  &:before {
    left: 0;
    top: 0;
    position: relative;
  }
}

.x-fieldset {
  &.x-fieldset-check-all {
    overflow: visible;

    .x-fieldset-bwrap {
      overflow: visible;

      .x-fieldset-body {
        overflow: visible !important;
      }
    }

    .x-form-item-check-all {
      position: absolute;
      right: 5px;
      top: -17px;
      background: #fff;
      padding: 0 5px !important;
      .x-form-cb-label {
        font-size: smaller;
        &:before {
          font-size: initial;
        }
      }
    }
  }
}

.x-menu-babel {
  max-height: 74vh;
  overflow-y: auto;
}
