.modx3.x-buttonmenu-babel-item-icon:before {
  left: 2px;
  top: 1px;
}

.x-buttonmenu-babel-item-icon {
  text-align: center;
}
.x-buttonmenu-babel-item-icon:before {
  left: 0;
  top: 0;
  position: relative;
}

.x-fieldset.x-fieldset-check-all {
  overflow: visible;
}
.x-fieldset.x-fieldset-check-all .x-fieldset-bwrap {
  overflow: visible;
}
.x-fieldset.x-fieldset-check-all .x-fieldset-bwrap .x-fieldset-body {
  overflow: visible !important;
}
.x-fieldset.x-fieldset-check-all .x-form-item-check-all {
  position: absolute;
  right: 5px;
  top: -17px;
  background: #fff;
  padding: 0 5px !important;
}
.x-fieldset.x-fieldset-check-all .x-form-item-check-all .x-form-cb-label {
  font-size: smaller;
}
.x-fieldset.x-fieldset-check-all .x-form-item-check-all .x-form-cb-label:before {
  font-size: initial;
}

.x-menu-babel {
  max-height: 74vh;
  overflow-y: auto;
}